<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Util</servlet-name>
        <servlet-class>com.Util.Util</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>SystemAPI.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUsers</servlet-name>
        <servlet-class>SystemAPI.AllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadDocument</servlet-name>
        <servlet-class>SystemAPI.uploadDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>SystemAPI.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDocument</servlet-name>
        <servlet-class>SystemAPI.SaveDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserNew</servlet-name>
        <servlet-class>SystemAPI.EditUserNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadtest</servlet-name>
        <servlet-class>SystemAPI.uploadtest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Util</servlet-name>
        <url-pattern>/Util</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUsers</servlet-name>
        <url-pattern>/AllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadDocument</servlet-name>
        <url-pattern>/uploadDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDocument</servlet-name>
        <url-pattern>/SaveDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserNew</servlet-name>
        <url-pattern>/EditUserNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadtest</servlet-name>
        <url-pattern>/uploadtest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
